body {
    /* background-image: url('./image/victoria_monet_photo.jpg'); */
    background-repeat: no-repeat;
    background-size: 55%;
    background-color: rgb(207, 125, 138);
}

/* body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

iframe {
    width: 80%;
    height: 60vh;
} */